# Separate Data
Este notebook recoge los parquets generado por *Generate Data*. Lo separa en train y test. Luego genera un X para cada uno y un Y para cada variable de basuras.

In [1]:
import pandas as pd

In [2]:
Year_to_separate = 2014

In [3]:
df = pd.read_parquet("time_dataset.parquet")

In [4]:
Ys = df[['Municipal', 'Household', 'Recovered', 'Recicled', 'Compost', 'Disposal', 'Year']]
X = df[[x for x in df.columns if x not in ['Country', 'COU', 'Municipal', 'Household', 'Recovered', 'Recicled', 'Compost', 'Disposal']]]
X_train = X[X.Year < Year_to_separate]
X_test = X[X.Year >= Year_to_separate]
Y_train = Ys[X.Year < Year_to_separate]
Y_test = Ys[X.Year >= Year_to_separate]

In [5]:
Y_test

      Municipal  Household  Recovered  Recicled    Compost  Disposal  Year
24    13109.635   8903.000   7107.560  5531.395    814.000  6002.070  2014
25    13344.539  12010.000   6858.410  5605.196    814.000  6486.130  2015
26    13344.539  12010.000   6858.410  5605.196    814.000  6486.130  2016
27    13344.539  12010.000   6858.410  5605.196    814.000  6486.130  2017
52     4832.500   4170.200   4479.100  1231.000   1492.300   194.100  2014
...         ...        ...        ...       ...        ...       ...   ...
1175   1267.000  31875.532    103.700   100.200  10481.455  1163.300  2017
1200   1270.250    889.171    499.573   267.886    119.094   747.713  2014
1201   1300.000    909.999    580.414   298.172    132.357   702.127  2015
1202   1272.060    890.440    832.000   312.270    298.710   379.270  2016
1203   1286.430    900.500    854.500   310.810    307.970   420.830  2017

[172 rows x 7 columns]

In [6]:
X_train.to_parquet("Xtime/X_train.parquet")
X_test.to_parquet("Xtime/X_test.parquet")
Y_train.to_parquet("Ytime/Y_train.parquet")
Y_test.to_parquet("Ytime/Y_test.parquet")

In [7]:
Y1_train = Y_train[["Municipal"]]
Y2_train = Y_train[["Household"]]
Y3_train = Y_train[["Recovered"]]
Y4_train = Y_train[["Recicled"]]
Y5_train = Y_train[["Compost"]]
Y6_train = Y_train[["Disposal"]]

In [8]:
Y1_test = Y_test[["Municipal"]]
Y2_test = Y_test[["Household"]]
Y3_test = Y_test[["Recovered"]]
Y4_test = Y_test[["Recicled"]]
Y5_test = Y_test[["Compost"]]
Y6_test = Y_test[["Disposal"]]

In [9]:
Y1_train.to_parquet("Ytime/Y1_train.parquet")
Y2_train.to_parquet("Ytime/Y2_train.parquet")
Y3_train.to_parquet("Ytime/Y3_train.parquet")
Y4_train.to_parquet("Ytime/Y4_train.parquet")
Y5_train.to_parquet("Ytime/Y5_train.parquet")
Y6_train.to_parquet("Ytime/Y6_train.parquet")

In [10]:
Y1_test.to_parquet("Ytime/Y1_test.parquet")
Y2_test.to_parquet("Ytime/Y2_test.parquet")
Y3_test.to_parquet("Ytime/Y3_test.parquet")
Y4_test.to_parquet("Ytime/Y4_test.parquet")
Y5_test.to_parquet("Ytime/Y5_test.parquet")
Y6_test.to_parquet("Ytime/Y6_test.parquet")